<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./nav.ejs %>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Article ID</th>
                <th>Written by Member</th>
                <th>Title</th>
                <th>Belong to Board</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.articles.length; i++) { %>
            <tr>
                <td><%= i %></td>
                <td><%= data.articles[i].id %></td>
                <td><%= data.articles[i].member_name %></td>
                <td><a href="/article/get?articleId=<%= data.articles[i].id %>" ><%= data.articles[i].title %></a></td>
                <td><%= data.articles[i].board_name %></td>
            </tr>       
            <% } %>    
            </tbody>
        </table>
    </div>


    <script>
            function add() {
                if(confirm("Add Article?")) {                            
                    var fo = document.fo;
                    fo.action = "/article/add";
                    fo.method = "post";
                    fo.submit();
                }
            };            
    </script>
  </body>
</html>