<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./nav.ejs %>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Member ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Work for Company</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.members.length; i++) { %>
            <tr>
                <td><%= i %></td>
                <td><%= data.members[i].id %></td>
                <td><%= data.members[i].name %></td>
                <td><%= data.members[i].age %></td>
                <td><%= data.members[i].company_name %></td>
            </tr>       
            <% } %>    
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form role="form" name="fo" id="fo">
            <div class="form-group col-lg-6">
                <label for="memberId"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Member ID</label>
                <div class="notice-padding">
                    <input type="text" name="memberId" id="memberId" class="form-control" value="">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="companyId"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Name</label>
                <div class="notice-padding"> 
                    <input type="text" name="name" id="name" class="form-control" value="">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="age"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Age</label>
                <div class="notice-padding">
                    <input type="text" name="age" id="age" class="form-control" value="">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="age"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Work for Company ID (Edge)</label>
                <div class="notice-padding">
                    <select name="companyId" class="form-control">
                        <% for(var i=0; i < data.Companies.length; i++) { %>
                        <option value="<%= data.Companies[i].id %>"><%= data.Companies[i].name %></option>
                        <% } %>
                    </select>                 
                </div>
            </div>
            <div class="form-group col-lg-12" id="btn_add_group">
                <a href="#" onclick="add()" id="btn_add" class="btn btn-primary">Add</a>
            </div>
        </form>
    </div>


    <script>
            function add() {
                if(confirm("Add Member?")) {                            
                    var fo = document.fo;
                    fo.action = "/member/add";
                    fo.method = "post";
                    fo.submit();
                }
            };            
    </script>
  </body>
</html>